.Container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    width: 420px;
    margin-top: 700px;
    box-shadow: 7px 13px 37px rgba(0, 0, 0, .8);
    margin-bottom: 50px;
    font-family: jost;  
}
.Form{
    padding: .8rem;
    overflow: hidden;
    color: gray;
}

.Form label, .Form input{
   display: block;
    width: 100%;
    margin-bottom: 8px;
}

.Form label{
    font-weight: 700;
}

.Form input:not([type="submit"]) {
    border: none;
    border-bottom: 2px solid #f08080;
    margin-bottom: 10px;
    font-size: 20px;
    outline: none;
    color:gray
}

.btn{
    background-color: #f08080;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.5s;
    margin-top: 20px;
    font-family: jost;
}